#kotak1,
#flip1 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak1 {
    padding: 50px;
}

#kotak2,
#flip2 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak2 {
    padding: 50px;
}

#kotak3,
#flip3 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak3 {
    padding: 50px;
}

#kotak4,
#flip4 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak4 {
    padding: 50px;
}

#kotak5,
#flip5 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak5 {
    padding: 50px;
}

#kotak6,
#flip6 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak6 {
    padding: 50px;
}

#kotak7,
#flip7 {
    padding: 5px;
    text-align: center;
    background-color: #a7dbd8;
    border: solid 2px #e0e4cc;
    border-radius: 5px;
}

#kotak7 {
    padding: 50px;
}

